/*reset*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*variables*/
:root {
  --main-bg: #0f182c;
  --accent-color: #fff696;
  --font-family-inter: "Inter", sans-serif;
  --font-family-j: "Jomhuria", serif;

  background-color: #0f182c;
  color: white;

  overflow-x: hidden;
}

/*  mobile styles*/
@media (max-width: 330px) {
  /*Header logo*/
  /*utilities*/

  .hamburger-menu {
    height: 5vh;
  }

  .hamburger-menu div {
    background-color: var(--accent-color);
    height: 5px;
    width: 30px;
    z-index: 999;
    margin: 4px;
    border-radius: 5px;
  }

  header {
    position: fixed;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    padding: 15px 15px;
    width: 100%;
  }

  #main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .logo-img {
    height: 15px;
  }

  .nav-links {
    display: none;
  }

  .dropdown-menu-toggle {
    height: 10vh;
  }

  .dropdown-menu-toggle div {
    position: absolute;
    top: 5%;
    right: 10px;
    width: 25px;
    height: 5px;
    background-color: #fff696;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .dropdown-menu-toggle div:nth-child(1) {
    transform: rotate(45deg);
  }

  .dropdown-menu-toggle div:nth-child(2) {
    transform: rotate(-45deg);
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--main-bg);
    top: 0;
    right: -110vw;
    width: 60vw;
    height: 100vh;
    transition: right 0.2s ease-in-out;
  }

  .menu-active {
    top: 0;
    right: 0;
  }

  .dropdown-menu ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    list-style: none;
    height: 5vh;
  }

  .dropdown-menu ul li a {
    text-decoration: none !important;
    font-family: var(--font-family-inter);
    font-weight: 900;
    margin-left: 15px;
    font-size: 0.9rem;
    color: var(--accent-color);
  }

  /* Hero section */

  .hero-section {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    padding: 15px;
  }

  .hero-content-container {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: start;
    margin-bottom: 3vh;
  }

  .hero-content-container h1 {
    color: var(--accent-color);
    font-family: var(--font-family-j);
    font-size: 2.5rem !important;
    line-height: 60%;
    font-weight: 100;
  }

  .hero-content-container p {
    font-size: 1rem !important;
    font-family: var(--font-family-inter);
  }

  .btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 2rem;
    font-weight: 900;
    color: var(--main-bg);
  }

  .hero-image-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    margin-top: 20vh;
  }

  .hero-image-section img {
    width: 200px !important;
  }

  /* About section */

  .about-section {
    height: 120vh !important;
    display: grid;
    align-items: start !important; 
    padding-top: 15vh !important; 
    margin-bottom: 20vh !important;
  }

  .about-content-container {
    padding: 15px;
    height: 100%;
  }

  .about-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 2.5rem !important;
    line-height: 105%;
    font-weight: 100;
    margin-top: 0 !important;
    margin-bottom: 8vh !important;
  }

  .about-description {
    margin-bottom: 5vh;
    font-size: 1rem !important;
    font-family: var(--font-family-inter);
  }

  .download-resume {
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--main-bg);
  }

  /* Skills section */

  .skills-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 15px;
    margin-bottom: 20vh !important;
  }

  .skills-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 2.5rem !important;
    line-height: 95%;
    font-weight: 100;
    margin: 15vh 0 !important;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    list-style: none;
    width: 100%;
    gap: 2vw;
  }

  .skills-item {
    height: 50px;
    width: 50px;
    margin-bottom: 8vh;
  }

  /* project section */

  .fa-arrow-right-long {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .projects-section {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
  }

  .projects-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 2.5rem !important;
    line-height: 70%;
    font-weight: 100;
    margin: 15vh 0 !important;
  }

  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 6vh;
  }

  .project-title {
    font-size: 1.1rem !important;
    font-family: var(--font-family-inter);
    color: var(--accent-color);
    margin-bottom: 10px; 
  }

  .project-thumbnail {
    margin-bottom: 2vh;
  }

  .project-thumbnail img {
    width: 100%;
    height: auto;
    max-width: 350px;
  }

  .project-description {
    font-size: .9rem !important;
    font-family: var(--font-family-inter);
    margin-bottom: 2vh;
  }

  .project-tags {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  }

  .project-tags-list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .project-tag {
    font-size: 0.8rem;
    font-family: var(--font-family-inter);
    color: var(--main-bg);
    background-color: var(--accent-color);
    padding: 10px 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .fa-arrow-up-right-from-square {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  /* contact me section*/

  .contact-me-section {
    display: grid;
    align-items: center;
    height: 100vh;
    margin-bottom: 45vh !important;
  }

  .contact-me-content-container {
    padding: 15px;
    height: 100vh;
  }

  .contact-me-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 2.5rem !important;
    line-height: 140%;
    font-weight: 100;
    margin: 10vh 0 !important;
  }


  .contact-me-form {
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    height: 100vh;
  }

  .contact-me-form form {
    max-width: 90vw;
  }

  .forms-image {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 5vh 0;
  }

  .forms-image img {
    width: 250px;
    height: auto;
    max-width: 250px;
  }

  .form-group {
    margin-bottom: 1vh;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  textarea {
    width: 100%;
    height: 5vh;
    padding: 10px 10px;
    color: var(--main-bg);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-group textarea {
    width: 100%;
    height: 15vh;
  }

  .form-group input[type="submit"] {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 1rem;
    font-weight: 900;
    color: var(--main-bg);
    outline: none;
    border: none !important;
  }

  #main-footer {
    background-color: var(--main-bg);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-inter);
    font-size: .9rem !important;
    color: var(--accent-color);
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
  }

  .social-media-links a i {
    color: var(--accent-color);
    font-size: 2rem;
  }
}

/*  mobile styles*/
@media (min-width: 346px) {
  /*Header logo*/
  /*utilities*/

  .hamburger-menu {
    height: 5vh;
  }

  .hamburger-menu div {
    background-color: var(--accent-color);
    height: 5px;
    width: 30px;
    z-index: 999;
    margin: 4px;
    border-radius: 5px;
  }

  header {
    position: fixed;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    padding: 15px 15px;
    width: 100%;
  }

  #main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .logo-img {
    height: 15px;
  }

  .nav-links {
    display: none;
  }

  .dropdown-menu-toggle {
    height: 10vh;
  }

  .dropdown-menu-toggle div {
    position: absolute;
    top: 5%;
    right: 10px;
    width: 25px;
    height: 5px;
    background-color: #fff696;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .dropdown-menu-toggle div:nth-child(1) {
    transform: rotate(45deg);
  }

  .dropdown-menu-toggle div:nth-child(2) {
    transform: rotate(-45deg);
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--main-bg);
    top: 0;
    right: -110vw;
    width: 60vw;
    height: 100vh;
    transition: right 0.2s ease-in-out;
  }

  .menu-active {
    top: 0;
    right: 0;
  }

  .dropdown-menu ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    list-style: none;
    height: 5vh;
  }

  .dropdown-menu ul li a {
    text-decoration: none !important;
    font-family: var(--font-family-inter);
    font-weight: 900;
    margin-left: 15px;
    font-size: 0.9rem;
    color: var(--accent-color);
  }

  /* Hero section */

  .hero-section {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh !important;
    padding: 15px;
  }

  .hero-content-container {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: start;
    margin-bottom: 3vh;
  }

  .hero-content-container h1 {
    color: var(--accent-color);
    font-family: var(--font-family-j);
    font-size: 3.5rem;
    line-height: 60%;
    font-weight: 100;
  }

  .hero-content-container p {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 2rem;
    font-weight: 900;
    color: var(--main-bg);
  }

  .hero-image-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    margin-top: 20vh;
  }

  .hero-image-section img {
    width: 250px !important;
  }

  /* About section */

   .about-section {
    height: 100vh !important;
    display: grid;
    align-items: start !important; 
    padding-top: 15vh !important; 
    margin-bottom: 20vh !important;
  }

  .about-content-container {
    padding: 15px;
    height: 50%;
  }

  .about-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem !important;
    line-height: 105%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .about-description {
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .download-resume {
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--main-bg);
  }

  /* Skills section */

  .skills-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 15px;
    margin-top: 20vh !important;
  }

  .skills-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem !important;
    line-height: 95%;
    font-weight: 100;
    margin: 15vh 0 !important;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    list-style: none;
    width: 100%;
    gap: 2vw;
  }

  .skills-item {
    height: 50px;
    width: 50px;
    margin-bottom: 8vh;
  }

  /* project section */

  .fa-arrow-right-long {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .projects-section {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
  }

  .projects-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem !important;
    line-height: 70%;
    font-weight: 100;
    margin: 15vh 0 !important;
  }

  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 6vh;
  }

  .project-title {
    font-size: 1.5rem;
    font-family: var(--font-family-inter);
    color: var(--accent-color);
    margin-bottom: 10px;
  }

  .project-thumbnail {
    margin-bottom: 2vh;
  }

  .project-thumbnail img {
    width: 100%;
    height: auto;
    max-width: 350px;
  }

  .project-description {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    margin-bottom: 2vh;
  }

  .project-tags {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  }

  .project-tags-list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .project-tag {
    font-size: 0.8rem;
    font-family: var(--font-family-inter);
    color: var(--main-bg);
    background-color: var(--accent-color);
    padding: 10px 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .fa-arrow-up-right-from-square {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  /* contact me section*/

  .contact-me-section {
    display: grid;
    align-items: start !important;
    height: 120vh !important;
    margin-bottom: 15vh !important;
  }

  .contact-me-content-container {
    padding: 15px;
    height: 100vh;
  }

  .contact-me-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem !important;
    line-height: 140%;
    font-weight: 100;
    margin: 10vh 0 !important;
  }

  .contact-me-form {
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    height: 100vh;
  }

  .contact-me-form form {
    max-width: 90vw;
  }

  .forms-image {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 5vh 0;
  }

  .forms-image img {
    width: 300px;
    height: auto;
    max-width: 300px;
  }

  .form-group {
    margin-bottom: 1vh;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  textarea {
    width: 100%;
    height: 5vh;
    padding: 10px 10px;
    color: var(--main-bg);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-group textarea {
    width: 100%;
    height: 15vh;
  }

  .form-group input[type="submit"] {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 1rem;
    font-weight: 900;
    color: var(--main-bg);
    outline: none;
    border: none !important;
  }

  #main-footer {
    background-color: var(--main-bg);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    color: var(--accent-color);
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
  }

  .social-media-links a i {
    color: var(--accent-color);
    font-size: 2rem;
  }
}

/*  mobile styles*/
@media (max-width: 594px) {
  /*Header logo*/
  /*utilities*/

  .hamburger-menu {
    height: 5vh;
  }

  .hamburger-menu div {
    background-color: var(--accent-color);
    height: 5px;
    width: 30px;
    z-index: 999;
    margin: 4px;
    border-radius: 5px;
  }

  header {
    position: fixed;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    padding: 15px 15px;
    width: 100%;
  }

  #main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .logo-img {
    height: 15px;
  }

  .nav-links {
    display: none;
  }

  .dropdown-menu-toggle {
    height: 10vh;
  }

  .dropdown-menu-toggle div {
    position: absolute;
    top: 5%;
    right: 10px;
    width: 25px;
    height: 5px;
    background-color: #fff696;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .dropdown-menu-toggle div:nth-child(1) {
    transform: rotate(45deg);
  }

  .dropdown-menu-toggle div:nth-child(2) {
    transform: rotate(-45deg);
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--main-bg);
    top: 0;
    right: -110vw;
    width: 60vw;
    height: 100vh;
    transition: right 0.2s ease-in-out;
  }

  .menu-active {
    top: 0;
    right: 0;
  }

  .dropdown-menu ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    list-style: none;
    height: 5vh;
  }

  .dropdown-menu ul li a {
    text-decoration: none !important;
    font-family: var(--font-family-inter);
    font-weight: 900;
    margin-left: 15px;
    font-size: 0.9rem;
    color: var(--accent-color);
  }

  /* Hero section */

  .hero-section {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    padding: 15px;
  }

  .hero-content-container {
    height: 50%;
    display: grid;
    align-items: center;
    justify-items: start;
    margin-bottom: 3vh;
  }

  .hero-content-container h1 {
    color: var(--accent-color);
    font-family: var(--font-family-j);
    font-size: 4rem;
    line-height: 60%;
    font-weight: 100;
  }

  .hero-content-container p {
    font-size: 1.3rem;
    font-family: var(--font-family-inter);
  }

  .btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 2rem;
    font-weight: 900;
    color: var(--main-bg);
  }

  .hero-image-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
  }

  .hero-image-section img {
    width: 350px;
  }

  /* About section */

  .about-section {
    height: 100vh;
    display: grid;
    align-items: center;
    margin: 10vh 0;
  }

  .about-content-container {
    padding: 15px;
    height: 50%;
  }

  .about-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 4rem;
    line-height: 105%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .about-description {
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .download-resume {
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--main-bg);
  }

  /* Skills section */

  .skills-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 15px;
  }

  .skills-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 4rem;
    line-height: 95%;
    font-weight: 100;
    margin-bottom: 8vh;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    list-style: none;
    width: 100%;
    gap: 2vw;
  }

  .skills-item {
    height: 50px;
    width: 50px;
    margin-bottom: 8vh;
  }

  /* project section */

  .fa-arrow-right-long {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .projects-section {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
  }

  .projects-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 4rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 10vh;
  }

  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 6vh;
  }

  .project-title {
    font-size: 1.5rem;
    font-family: var(--font-family-inter);
    color: var(--accent-color);
    margin-bottom: 10px;
  }

  .project-thumbnail {
    margin-bottom: 2vh;
  }

  .project-thumbnail img {
    width: 100%;
    height: auto;
  }

  .project-description {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    margin-bottom: 2vh;
  }

  .project-tags {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  }

  .project-tags-list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .project-tag {
    font-size: 0.8rem;
    font-family: var(--font-family-inter);
    color: var(--main-bg);
    background-color: var(--accent-color);
    padding: 10px 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .fa-arrow-up-right-from-square {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  /* contact me section*/

  .contact-me-section {
    display: grid;
    align-items: center;
    height: 100vh;
    margin: 15vh 0;
  }

  .contact-me-content-container {
    padding: 15px;
    height: 100vh;
  }

  .contact-me-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 4rem;
    line-height: 140%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .contact-me-form {
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    height: 100vh;
  } 

  .contact-me-form form { 
    max-width: 95vw !important;
  }

  .forms-image {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 5vh 0;
  }

  .forms-image img {
    width: 300px;
    height: auto;
  }

  .form-group {
    margin-bottom: 1vh;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  textarea {
    width: 100%;
    height: 5vh;
    padding: 10px 10px;
    color: var(--main-bg);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-group textarea {
    width: 100%;
    height: 15vh;
  }

  .form-group input[type="submit"] {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 1rem;
    font-weight: 900;
    color: var(--main-bg);
    outline: none;
    border: none !important;
  }

  #main-footer {
    background-color: var(--main-bg);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    color: var(--accent-color);
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
  }

  .social-media-links a i {
    color: var(--accent-color);
    font-size: 2rem;
  }
}

/* tablets styles */
@media (min-width: 595px) {
  /*Header logo*/
  /*utilities*/

  .hamburger-menu {
    height: 5vh;
  }

  .hamburger-menu div {
    background-color: #fff696;
    height: 5px;
    width: 30px;
    z-index: 999;
    margin: 4px;
    border-radius: 5px;
  }

  header {
    position: fixed;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    padding: 15px 25px;
    width: 100vw;
  }

  #main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .logo-img {
    height: 20px;
  }

  .nav-links {
    display: none;
  }

  .dropdown-menu-toggle {
    height: 10vh;
  }

  .dropdown-menu-toggle div {
    position: absolute;
    top: 5%;
    right: 10px;
    width: 25px;
    height: 5px;
    background-color: #fff696;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .dropdown-menu-toggle div:nth-child(1) {
    transform: rotate(45deg);
  }

  .dropdown-menu-toggle div:nth-child(2) {
    transform: rotate(-45deg);
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--main-bg);
    top: 0;
    right: -110vw;
    width: 60vw;
    height: 100vh;
    transition: right 0.2s ease-in-out;
  }

  .menu-active {
    top: 0;
    right: 0;
  }

  .dropdown-menu ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    list-style: none;
    height: 5vh;
  }

  .dropdown-menu ul li a {
    text-decoration: none !important;
    font-family: var(--font-family-inter);
    font-weight: 900;
    margin-left: 15px;
    font-size: 1.2rem;
    color: var(--accent-color);
  }

  /* Hero section */

  .hero-section {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    padding: 25px;
  }

  .hero-content-container {
    height: 50%;
    display: grid;
    align-items: center;
    justify-items: start;
  }

  .hero-content-container h1 {
    color: var(--accent-color);
    font-family: var(--font-family-j);
    font-size: 4.5rem;
    line-height: 60%;
    font-weight: 100;
    margin-bottom: 2vh;
  }

  .hero-content-container p {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 2rem;
    font-weight: 900;
    color: var(--main-bg);
    font-size: 1.2rem;
  }

  .hero-image-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
  }

  .hero-image-section img {
    width: 450px;
  }

  /* About section */

  .about-section {
    height: 100vh;
    display: grid;
    align-items: center;
  }

  .about-content-container {
    padding: 25px;
    height: 50%;
  }

  .about-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .about-description {
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .download-resume {
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-family-inter);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--main-bg);
  }

  /* Skills section */

  .skills-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 25px;
  }

  .skills-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 8vh;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    list-style: none;
    width: 100%;
    gap: 2vw;
  }

  .skills-item {
    height: 70px;
    width: 70px;
    margin-bottom: 8vh;
    align-self: end;
  }

  /* project section */

  .fa-arrow-right-long {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .projects-section {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
  }

  .projects-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 10vh;
  }

  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 6vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    color: var(--accent-color);
    margin-bottom: 10px;
  }

  .project-thumbnail {
    margin-bottom: 2vh;
  }

  .project-thumbnail img {
    width: 100%;
    height: auto;
  }

  .project-description {
    font-size: 1.1rem;
    font-family: var(--font-family-inter);
    margin-bottom: 2vh;
  }

  .project-tags {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  }

  .project-tags-list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .project-tag {
    font-size: 0.8rem;
    color: var(--main-bg);
    background-color: var(--accent-color);
    padding: 3px 3px;
    font-weight: 400;
    border-radius: 5px;
  }

  .fa-arrow-up-right-from-square {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  /* contact me section*/
  .contact-me-section {
    display: grid;
    align-items: center;
    height: 100vh;
    margin: 15vh 0;
  }

  .contact-me-content-container {
    padding: 25px;
    height: 80vh;
    width: 100%;
  }

  .contact-me-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 90%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .contact-me-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .forms-image {
    display: grid;
    align-items: start;
    justify-items: center;
    padding: 5vh 0;
  }

  .forms-image img {
    width: 350px;
    height: auto;
  }

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
  }

  .form-row article {
    width: 100%;
  }

  .form-group {
    margin-bottom: 1vh;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  textarea {
    width: 100%;
    height: 5vh;
    padding: 10px 10px;
    color: var(--main-bg);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-group textarea {
    width: 100%;
    height: 15vh;
  }

  .form-group input[type="submit"] {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 15px 20px;
    margin-top: 1rem;
    font-weight: 900;
    color: var(--main-bg);
    outline: none;
    border: none !important;
    font-size: 1rem;
  }

  #main-footer {
    background-color: var(--main-bg);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    color: var(--accent-color);
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
  }

  .social-media-links a i {
    color: var(--accent-color);
    font-size: 2rem;
  }
}

/* tablets styles */
@media (min-width: 665px) {
  /*Header logo*/
  /*utilities*/

  .hamburger-menu {
    height: 5vh;
    display: none;
  }

  .hamburger-menu div {
    background-color: #fff696;
    height: 5px;
    width: 30px;
    z-index: 999;
    margin: 4px;
    border-radius: 5px;
  }

  header {
    position: fixed;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 2vh 5vw;
    width: 100vw;
  }

  #main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 40vw;
    justify-self: end;
    min-width: 40vw;
  }

  .logo-img {
    height: 20px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }

  .nav-links li a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 900;
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--main-bg);
    top: 0;
    right: -110vw;
    width: 60vw;
    height: 100vh;
    transition: right 0.2s ease-in-out;
    display: none;
  }

  /* Hero section */

  .hero-section {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    padding: 25px;
  }

  .hero-content-container {
    height: 50%;
    display: grid;
    align-items: center;
    justify-items: start;
  }

  .hero-content-container h1 {
    color: var(--accent-color);
    font-family: var(--font-family-j);
    font-size: 4.5rem;
    line-height: 60%;
    font-weight: 100;
    margin-bottom: 2vh;
  }

  .hero-content-container p {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 2rem;
    font-weight: 900;
    color: var(--main-bg);
    font-size: 1.2rem;
  }

  .hero-image-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
  }

  .hero-image-section img {
    width: 350px;
  }

  /* About section */

  .about-section {
    height: 100vh;
    display: grid;
    align-items: center;
  }

  .about-content-container {
    padding: 25px;
    height: 50%;
  }

  .about-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .about-description {
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .download-resume {
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-family-inter);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--main-bg);
  }

  /* Skills section */

  .skills-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 25px;
  }

  .skills-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 8vh;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    align-items: center;
    justify-items: start;
    list-style: none;
    width: 100%;
    gap: 2vw;
  }

  .skills-item {
    height: 70px;
    width: 70px;
    margin-bottom: 8vh;
    align-self: end;
  }

  /* project section */

  .fa-arrow-right-long {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .projects-section {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
  }

  .projects-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 10vh;
  }

  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 6vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    color: var(--accent-color);
    margin-bottom: 10px;
  }

  .project-thumbnail {
    margin-bottom: 2vh;
  }

  .project-thumbnail img {
    width: 100%;
    height: auto;
  }

  .project-description {
    font-size: 1.1rem;
    font-family: var(--font-family-inter);
    margin-bottom: 2vh;
  }

  .project-tags {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  }

  .project-tags-list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .project-tag {
    font-size: 0.8rem;
    color: var(--main-bg);
    background-color: var(--accent-color);
    padding: 3px 3px;
    font-weight: 400;
    border-radius: 5px;
  }

  .fa-arrow-up-right-from-square {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  /* contact me section*/

  .contact-me-section {
    display: grid;
    align-items: center;
    height: 100vh;
    margin: 15vh 0;
  }

  .contact-me-content-container {
    padding: 25px;
    height: 80vh;
    width: 100%;
  }

  .contact-me-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 90%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .contact-me-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .forms-image {
    display: grid;
    align-items: start;
    justify-items: center;
    padding: 5vh 0;
  }

  .forms-image img {
    width: 350px;
    height: auto;
  }

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
  }

  .form-row article {
    width: 100%;
  }

  .form-group {
    margin-bottom: 1vh;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  textarea {
    width: 100%;
    height: 5vh;
    padding: 10px 10px;
    color: var(--main-bg);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-group textarea {
    width: 100%;
    height: 15vh;
  }

  .form-group input[type="submit"] {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 15px 20px;
    margin-top: 1rem;
    font-weight: 900;
    color: var(--main-bg);
    outline: none;
    border: none !important;
    font-size: 1rem;
  }

  #main-footer {
    background-color: var(--main-bg);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    color: var(--accent-color);
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
  }

  .social-media-links a i {
    color: var(--accent-color);
    font-size: 2rem;
  }
}

/* tablets styles */
@media (min-width: 1024px) {
  /*Header logo*/
  /*utilities*/

  .hamburger-menu {
    height: 5vh;
    display: none;
  }

  .hamburger-menu div {
    background-color: #fff696;
    height: 5px;
    width: 30px;
    z-index: 999;
    margin: 4px;
    border-radius: 5px;
  }

  header {
    position: fixed;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2vh 5vw;
    width: 100vw;
  }

  #main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 40vw;
    justify-self: end;
    min-width: 40vw;
  }

  .logo-img {
    height: 20px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }

  .nav-links li a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 900;
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--main-bg);
    top: 0;
    right: -110vw;
    width: 60vw;
    height: 100vh;
    transition: right 0.2s ease-in-out;
    display: none;
  }

  /* Hero section */

  .hero-section {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
    padding: 5vw;
  }

  .hero-content-container {
    height: 50%;
    display: grid;
    align-items: center;
    justify-items: start;
    max-width: 50vw;
    justify-self: start;
  }

  .hero-content-container h1 {
    color: var(--accent-color);
    font-family: var(--font-family-j);
    font-size: 4.5rem;
    line-height: 60%;
    font-weight: 100;
    margin-bottom: 2vh;
  }

  .hero-content-container p {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 2rem;
    font-weight: 900;
    color: var(--main-bg);
    font-size: 1.2rem;
  }

  .hero-image-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
  }

  .hero-image-section img {
    width: 350px;
  }

  /* About section */

  .about-section {
    height: 80vh;
    display: grid;
    align-items: center;
    padding: 2vw;
  }

  .about-content-container {
    padding: 25px;
    height: 50%;
  }

  .about-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .about-description {
    margin-bottom: 5vh;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    max-width: 85vw;
  }

  .download-resume {
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-family-inter);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--main-bg);
  }

  /* Skills section */

  .skills-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 5vw;
  }

  .skills-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 8vh;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    align-items: center;
    justify-items: start;
    list-style: none;
    width: 100%;
    gap: 2vw;
  }

  .skills-item {
    height: 70px;
    width: 70px;
    margin-bottom: 8vh;
    align-self: end;
  }

  /* project section */

  .fa-arrow-right-long {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .projects-section {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding: 5vw;
    width: 100%;
    margin-bottom: 20vh;
  }

  .projects-content-container {
    width: 100%;
  }

  .projects-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 10vh;
  }

  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: start;
    justify-content: start;
    gap: 2vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    color: var(--accent-color);
    margin-bottom: 10px;
  }

  .project-thumbnail {
    margin-bottom: 2vh;
  }

  .project-thumbnail img {
    width: 100%;
    height: auto;
  }

  .project-description {
    font-size: 1.1rem;
    font-family: var(--font-family-inter);
    margin-bottom: 2vh;
  }

  .project-tags {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  }

  .project-tags-list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .project-tag {
    font-size: 0.8rem;
    color: var(--main-bg);
    background-color: var(--accent-color);
    padding: 3px 3px;
    font-weight: 400;
    border-radius: 5px;
  }

  .fa-arrow-up-right-from-square {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  /* contact me section*/

  .contact-me-section {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 3.5vw;
    margin: 0 !important;
  }

  .contact-me-content-container {
    width: 100%;
  }

  .contact-me-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 90%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .contact-me-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    height: 100% !important;
  }

  .forms-image {
    display: grid;
    align-items: start;
    justify-items: end;
    padding: 0 !important;
  }

  .forms-image img {
    min-width: 350px;
    height: auto;
  }

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
  }

  .form-row article {
    width: 100%;
  }

  .form-group {
    margin-bottom: 1vh;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  textarea {
    width: 100%;
    height: 5vh;
    padding: 10px 10px;
    color: var(--main-bg);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-group textarea {
    width: 100%;
    height: 15vh;
  }

  .form-group input[type="submit"] {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 15px 20px;
    margin-top: 1rem;
    font-weight: 900;
    color: var(--main-bg);
    outline: none;
    border: none !important;
    font-size: 1rem;
  }

  #main-footer {
    background-color: var(--main-bg);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    color: var(--accent-color);
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
    max-width: 40vw;
  }

  .social-media-links a i {
    color: var(--accent-color);
    font-size: 2rem;
  }
}

/* tablets styles */
@media (min-width: 1200px) {
  /*Header logo*/
  /*utilities*/

  .hamburger-menu {
    height: 5vh;
    display: none;
  }

  .hamburger-menu div {
    background-color: #fff696;
    height: 5px;
    width: 30px;
    z-index: 999;
    margin: 4px;
    border-radius: 5px;
  }

  header {
    position: fixed;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2vh 10vw;
    width: 100vw;
    height: 15vh;
  }

  #main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 40vw;
    justify-self: end;
    min-width: 30vw;
  }

  .logo-img {
    height: 25px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }

  .nav-links li a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 900;
    font-size: 1.2rem;
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--main-bg);
    top: 0;
    right: -110vw;
    width: 60vw;
    height: 100vh;
    transition: right 0.2s ease-in-out;
    display: none;
  }

  /* Hero section */

  .hero-section {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
    padding: 10vw;
  }

  .hero-content-container {
    height: 50%;
    display: grid;
    align-items: center;
    justify-items: start;
    max-width: 60vw;
    justify-self: start;
  }

  .hero-content-container h1 {
    color: var(--accent-color);
    font-family: var(--font-family-j);
    font-size: 4.5rem;
    line-height: 60%;
    font-weight: 100;
    margin-bottom: 2vh;
  }

  .hero-content-container p {
    font-size: 1.3rem;
    font-family: var(--font-family-inter);
  }

  .btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 2rem;
    font-weight: 900;
    color: var(--main-bg);
    font-size: 1.6rem;
  }

  .hero-image-section {
    display: flex;
    flex-direction: column !important;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
  }

  .hero-image-section img {
    width: 350px;
  }

  /* About section */

  .about-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 8.5vw;
  }

  .about-content-container {
    height: 50%;
  }

  .about-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .about-description {
    margin-bottom: 5vh;
    font-size: 1.3rem;
    font-family: var(--font-family-inter);
    max-width: 85vw;
  }

  .download-resume {
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-family-inter);
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--main-bg);
  }

  /* Skills section */

  .skills-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 10vw;
  }

  .skills-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 8vh;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    align-items: center;
    justify-items: start;
    list-style: none;
    width: 100%;
    gap: 2vw;
  }

  .skills-item {
    height: 90px;
    width: 90px;
    margin-bottom: 8vh;
    align-self: end;
  }

  /* project section */

  .fa-arrow-right-long {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .projects-section {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding: 10vw;
    width: 100%;
  }

  .projects-content-container {
    width: 100%;
  }

  .projects-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 10vh;
  }

  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 6vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    color: var(--accent-color);
    margin-bottom: 10px;
  }

  .project-thumbnail {
    margin-bottom: 2vh;
  }

  .project-thumbnail img {
    width: 100%;
    height: auto;
  }

  .project-description {
    font-size: 1.1rem;
    font-family: var(--font-family-inter);
    margin-bottom: 2vh;
  }

  .project-tags {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  }

  .project-tags-list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .project-tag {
    font-size: 0.8rem;
    color: var(--main-bg);
    background-color: var(--accent-color);
    padding: 3px 3px;
    font-weight: 400;
    border-radius: 5px;
  }

  .fa-arrow-up-right-from-square {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  /* contact me section*/

  .contact-me-section {
    display: grid;
    align-items: start;
    justify-items: start;
    height: 100vh;
    padding: 8vw;
  }

  .contact-me-content-container {
    width: 100%;
  }

  .contact-me-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 90%;
    font-weight: 100;
    margin: 15vh 0;
  }

  .contact-me-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
  }

  .contact-me-form form {
    max-width: 100%;
  }

  .forms-image {
    display: grid;
    align-items: start;
    justify-items: end;
    padding: 0 !important;
  }

  .forms-image img {
    min-width: 450px;
    height: auto;
  }

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
  }

  .form-row article {
    width: 100%;
  }

  .form-group {
    margin-bottom: 1vh;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  textarea {
    width: 100%;
    height: 5vh;
    padding: 10px 10px;
    color: var(--main-bg);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-group textarea {
    width: 100%;
    height: 15vh;
  }

  .form-group input[type="submit"] {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 15px 20px;
    margin-top: 1rem;
    font-weight: 900;
    color: var(--main-bg);
    outline: none;
    border: none !important;
    font-size: 1rem;
  }

  #main-footer {
    background-color: var(--main-bg);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    color: var(--accent-color);
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
    max-width: 40vw;
  }

  .social-media-links a i {
    color: var(--accent-color);
    font-size: 2rem;
  }
}

/* tablets styles */
@media (min-width: 1400px) {
  /*Header logo*/
  /*utilities*/

  .hamburger-menu {
    height: 5vh;
    display: none;
  }

  .hamburger-menu div {
    background-color: #fff696;
    height: 5px;
    width: 30px;
    z-index: 999;
    margin: 4px;
    border-radius: 5px;
  }

  header {
    position: fixed;
    background-color: var(--main-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2vh 10vw;
    width: 100vw;
    height: 15vh;
  }

  #main-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 40vw;
    justify-self: end;
    min-width: 30vw;
  }

  .logo-img {
    height: 25px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }

  .nav-links li a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 900;
    font-size: 1.2rem;
  }

  .dropdown-menu {
    position: fixed;
    background-color: var(--main-bg);
    top: 0;
    right: -110vw;
    width: 60vw;
    height: 100vh;
    transition: right 0.2s ease-in-out;
    display: none;
  }

  /* Hero section */

  .hero-section {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
    padding: 10vw;
  }

  .hero-content-container {
    height: 50%;
    display: grid;
    align-items: center;
    justify-items: start;
    max-width: 50vw;
    justify-self: start;
  }

  .hero-content-container h1 {
    color: var(--accent-color);
    font-family: var(--font-family-j);
    font-size: 6.5rem;
    line-height: 60%;
    font-weight: 100;
    margin-bottom: 2vh;
  }

  .hero-content-container p {
    font-size: 1.8rem;
    font-family: var(--font-family-inter);
  }

  .btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 15px;
    margin-top: 2rem;
    font-weight: 900;
    color: var(--main-bg);
    font-size: 1.6rem;
  }

  .hero-image-section {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
  }

  .hero-image-section img {
    width: 550px;
  }

  /* About section */

  .about-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 8.5vw;
  }

  .about-content-container {
    height: 50%;
  }

  .about-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 5vh;
  }

  .about-description {
    margin-bottom: 5vh;
    font-size: 1.8rem;
    font-family: var(--font-family-inter);
    max-width: 85vw;
  }

  .download-resume {
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 10px 15px;
    font-family: var(--font-family-inter);
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--main-bg);
  }

  /* Skills section */

  .skills-section {
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 10vw;
  }

  .skills-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 8vh;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    align-items: center;
    justify-items: start;
    list-style: none;
    width: 100%;
    gap: 2vw;
  }

  .skills-item {
    height: 90px;
    width: 90px;
    margin-bottom: 8vh;
    align-self: end;
  }

  /* project section */

  .fa-arrow-right-long {
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
  }

  .projects-section {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding: 10vw;
    width: 100%;
  }

  .projects-content-container {
    width: 100%;
  }

  .projects-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 70%;
    font-weight: 100;
    margin-bottom: 10vh;
  }

  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 6vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    color: var(--accent-color);
    margin-bottom: 10px;
  }

  .project-thumbnail {
    margin-bottom: 2vh;
  }

  .project-thumbnail img {
    width: 100%;
    height: auto;
  }

  .project-description {
    font-size: 1.1rem;
    font-family: var(--font-family-inter);
    margin-bottom: 2vh;
  }

  .project-tags {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  }

  .project-tags-list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .project-tag {
    font-size: 0.8rem;
    color: var(--main-bg);
    background-color: var(--accent-color);
    padding: 3px 3px;
    font-weight: 400;
    border-radius: 5px;
  }

  .fa-arrow-up-right-from-square {
    color: var(--accent-color);
    font-size: 1.5rem;
  }

  /* contact me section*/

  /* contact me section*/

  .contact-me-section {
    display: grid;
    align-items: start !important;
    justify-items: start !important;
    height: 100vh; 
    padding: 0 15vw;
   
  }

  .contact-me-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: start !important;  
    min-width: 79vw;
    width: 100%;
    padding: 0 !important;
  }

  .contact-me-title {
    color: var(--accent-color);
    font-family: var(--font-family-inter);
    font-size: 3.5rem;
    line-height: 90%;
    font-weight: 100;

    margin-top: 20vh !important;
  }

  .contact-me-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-family-inter);
    max-height: 50vh;
    width: 100%;
    margin: 0 !important;
  }

  .contact-me-form form {
    max-width: 45vw;
  }

  .forms-image {
    display: grid;
    align-items: start;
    justify-items: end;
    padding: 0 !important;
  }

  .forms-image img {
    min-width: 450px;
    height: auto;
  }

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
  }

  .form-row article {
    width: 100%;
  }

  .form-group {
    margin-bottom: 1vh;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  textarea {
    width: 100%;
    height: 5vh;
    padding: 10px 10px;
    color: var(--main-bg);
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-group textarea {
    width: 100%;
    height: 15vh;
  }

  .form-group input[type="submit"] {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 15px 20px;
    margin-top: 1rem;
    font-weight: 900;
    color: var(--main-bg);
    outline: none;
    border: none !important;
    font-size: 1rem;
  }

  #main-footer {
    background-color: var(--main-bg);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-inter);
    font-size: 1.1rem;
    color: var(--accent-color);
  }

  .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vh;
    max-width: 40vw;
  }

  .social-media-links a i {
    color: var(--accent-color);
    font-size: 2rem;
  }
}
